<header class="header-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5 col-lg-2">
                <!-- Start Logo Area -->
                <div class="logo-area">
                    <a href="[[root]]index.html"><img src="[[root]]assets/img/logo.png" alt="AlephCode-Logo"></a>
                </div>
                <!-- End Logo Area -->
            </div>

            <div class="col-lg-8 d-none d-lg-block">
                <!-- Start Navigation Area -->
                <div class="navigation-area">
                    <ul class="main-menu nav">
                        <li><a href="[[root]]index.html">Home</a></li>
                        <li><a href="[[root]]services/service.html">Service</a></li>
                        <li><a href="[[root]]technology.html">Technology</a></li>
                        <li><a href="[[root]]faq.html">FAQ</a></li>
                        <li><a href="[[root]]about.html">About</a></li>
                        <li><a href="[[root]]blog-list-left-sidebar.html">BLOG</a></li>
                        <li><a href="[[root]]contact.html">Contact</a></li>
                    </ul>
                </div>
                <!-- End Navigation Area -->
            </div>

            <div class="col-8 col-lg-2">
                <!-- Start Header Action Area -->
                <div class="header-action text-md-start">
                    <a href="tel:+94766606816" class="tel-no1">+94 766 606 816</a>
                </div>
                <!-- End Header Action Area -->
            </div>
        </div>
    </div>
</header>
